# Ignorer les fichiers de compilation et les dossiers de build
/Library/
/Temp/
/Builds/
UserSettings/Layouts/*
UserSettings/Layouts/default-2023.dwlt
Library/ArtifactDB

# Ignorer les fichiers générés automatiquement
/*.csproj
/*.unityproj
/*.sln
/*.userprefs

# Ignorer les fichiers de cache et de journalisation
/*.pidb.meta
/*.pidb
/*.log
/Logs/

# Ignorer les fichiers temporaires spécifiques à certains éditeurs
/[Ll]ibrary/[Ss]criptAssemblies/
/[Tt]emp/
/[Oo]bj/